
#example-element-container {
    text-align: left;
    position: relative;
    overflow: scroll;
    height: 100%;
    width: 100%;
}

#example-element {
    display: block;
    height: 65px;
    width: 65px;
    background-color: yellow;
    border: 3px solid red;
}

