/* http://prismjs.com/download.html?themes=prism-coy&languages=css+clike+javascript&plugins=line-highlight+line-numbers */
/**
 * prism.js Coy theme for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/tshedor/workshop-wp-theme (Example: http://workshop.kansan.com/category/sessions/basics or http://workshop.timshedor.com/category/sessions/basics);
 * @author Tim  Shedor
 */

code[class*="language-"],
pre[class*="language-"] {
	color: black;
	background: none;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	position: relative;
	margin: .5em 0;
	box-shadow: -1px 0px 0px 0px #358ccb, 0px 0px 0px 1px #dfdfdf;
	border-left: 10px solid #358ccb;
	background-color: #fdfdfd;
	background-image: linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
	background-size: 3em 3em;
	background-origin: content-box;
	overflow: visible;
	padding: 0;
}

code[class*="language"] {
	max-height: inherit;
	height: 100%;
	padding: 0 1em;
	display: block;
	overflow: auto;
}

/* Margin bottom to accomodate shadow */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background-color: #fdfdfd;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 1em;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	position: relative;
	padding: .2em;
	border-radius: 0.3em;
	color: #c92c2c;
	border: 1px solid rgba(0, 0, 0, 0.1);
	display: inline;
	white-space: normal;
}

pre[class*="language-"]:before,
pre[class*="language-"]:after {
	content: '';
	z-index: -2;
	display: block;
	position: absolute;
	bottom: 0.75em;
	left: 0.18em;
	width: 40%;
	height: 20%;
	max-height: 13em;
	box-shadow: 0px 13px 8px #979797;
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	transform: rotate(-2deg);
}

:not(pre) > code[class*="language-"]:after,
pre[class*="language-"]:after {
	right: 0.75em;
	left: auto;
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	transform: rotate(2deg);
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #7D8B99;
}

.token.punctuation {
	color: #5F6364;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.function-name,
.token.constant,
.token.symbol,
.token.deleted {
	color: #c92c2c;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.function,
.token.builtin,
.token.inserted {
	color: #2f9c0a;
}

.token.operator,
.token.entity,
.token.url,
.token.variable {
	color: #a67f59;
	background: rgba(255, 255, 255, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.class-name {
	color: #1990b8;
}

.token.regex,
.token.important {
	color: #e90;
}

.language-css .token.string,
.style .token.string {
	color: #a67f59;
	background: rgba(255, 255, 255, 0.5);
}

.token.important {
	font-weight: normal;
}

.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.namespace {
	opacity: .7;
}

@media screen and (max-width: 767px) {
	pre[class*="language-"]:before,
	pre[class*="language-"]:after {
		bottom: 14px;
		box-shadow: none;
	}

}

/* Plugin styles */
.token.tab:not(:empty):before,
.token.cr:before,
.token.lf:before {
	color: #e0d7d1;
}

/* Plugin styles: Line Numbers */
pre[class*="language-"].line-numbers {
	padding-left: 0;
}

pre[class*="language-"].line-numbers code {
	padding-left: 3.8em;
}

pre[class*="language-"].line-numbers .line-numbers-rows {
	left: 0;
}

/* Plugin styles: Line Highlight */
pre[class*="language-"][data-line] {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
}
pre[data-line] code {
	position: relative;
	padding-left: 4em;
}
pre .line-highlight {
	margin-top: 0;
}

pre[data-line] {
	position: relative;
	padding: 1em 0 1em 3em;
}

.line-highlight {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em; /* Same as .prism’s padding-top */

	background: hsla(24, 20%, 50%,.08);
	background: linear-gradient(to right, hsla(24, 20%, 50%,.1) 70%, hsla(24, 20%, 50%,0));

	pointer-events: none;

	line-height: inherit;
	white-space: pre;
}

	.line-highlight:before,
	.line-highlight[data-end]:after {
		content: attr(data-start);
		position: absolute;
		top: .4em;
		left: .6em;
		min-width: 1em;
		padding: 0 .5em;
		background-color: hsla(24, 20%, 50%,.4);
		color: hsl(24, 20%, 95%);
		font: bold 65%/1.5 sans-serif;
		text-align: center;
		vertical-align: .3em;
		border-radius: 999px;
		text-shadow: none;
		box-shadow: 0 1px white;
	}

	.line-highlight[data-end]:after {
		content: attr(data-end);
		top: auto;
		bottom: .4em;
	}

pre.line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber;
}

pre.line-numbers > code {
	position: relative;
}

.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	font-size: 100%;
	left: -3.8em;
	width: 3em; /* works for line-numbers below 1000 lines */
	letter-spacing: -1px;
	border-right: 1px solid #999;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

	.line-numbers-rows > span {
		pointer-events: none;
		display: block;
		counter-increment: linenumber;
	}

		.line-numbers-rows > span:before {
			content: counter(linenumber);
			color: #999;
			display: block;
			padding-right: 0.8em;
			text-align: right;
		}

.fade-in {
    animation: fadein .5s;
}

.fade-out {
    animation: fadeout .5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Prism theme overrides */
pre[class*='language-'] {
    background-image: none;
    margin: 0;
    padding: .5em;
    border: 0;
    box-shadow: none;
    overflow: scroll;
}

pre[class*='language-']:before,
pre[class*='language-']:after {
    width: 0;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
    background-color: transparent;
}

code[class*='language-'] {
    height: auto;
}

.line-numbers .line-numbers-rows {
    background-color: #f5f9fa;
    border-right: 0;
}

.line-numbers-rows > span:before {
    color: #333;
}

/* overrides for increased a11y */
.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #58636d;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.function,
.token.builtin,
.token.inserted {
    color: #2545a7;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #333;
    margin: 1em;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
}

header h4 {
    margin: 0;
    font-weight: normal;
}

.editor-wrapper {
    background-color: #fff;
    border: 1px solid #eaf2f4;
    width: 100%;
    max-height: 550px;
    overflow: hidden;
}

.example-choice-list,
.output {
    height: 300px;
    overflow: hidden;
}

.example-choice-list.large,
.output.large {
    height: 550px;
    overflow: hidden;
}

.example-choice-list {
    background-color: #f5f9fa;
    padding: .7em 2em .7em .7em;
}

.example-choice-list,
.example-choice-list.large {
    float: none;
    width: auto;
}

.example-choice-list.live,
.example-choice-list.large.live {
    float: left;
    width: 55%;
    text-align: right;
}

.output-header {
    margin: 0;
    padding: 0 0 .5em 0;
}

.output {
    position: relative;
    float: right;
    background-color: #fff;
    width: 45%;
    overflow: hidden;
    box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, .2);
    padding: 1em;
}

.output section {
    height: 100%;
    text-align: center;
}

.example-choice {
    position: relative;
    z-index: 1;
    display: block;
    margin: .2em 0;
    width: 100%;
    border: 1px solid #d6dee0;
    border-left: 5px solid #d6dee0;
    font-size: 14px;
    cursor: pointer;
    transition: background-color .2s ease-out, border .2s ease-out;
}

.live .example-choice {
    background-color: #fff;
}

.example-choice-list .example-choice:first-child {
    margin-top: 0;
}

.example-choice:hover {
    border: 1px solid #75b7d4;
    border-left: 5px solid #75b7d4;
}

.example-choice:before {
    content: '';
    position: absolute;
    top: 50%;
    right: -10px;
    z-index: 1;
    opacity: 0;
    transition: all .2s ease-out;
    transform: translateY(-50%);
    border-left: 10px solid #3f87a6;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.example-choice.selected:before {
    opacity: 1;
    right: -1.5em;
}

.example-choice.invalid:before {
    right: -1.8em;
    background: transparent url('../media/warning.svg') 0 0 no-repeat;
    background-size: 20px;
    border: none;
    width: 20px;
    height: 20px;
}

.example-choice.selected {
    border: 1px solid #3f87a6;
    border-left: 5px solid #3f87a6;
    box-shadow: inset 0 2px 2px -2px rgba(0, 0, 0, .2);
    cursor: text;
}

.example-choice.invalid {
    border: 1px solid #f8b83e;
    border-left: 5px solid #f8b83e;
}

.example-choice > code {
    display: inline-block;
    width: 90%;
}

.reset {
    background-color: #fff;
    color: #333;
    margin: .5em 0;
    padding: 7px;
    border: 2px solid #333;
    max-width: 100px;
    font-size: 14px;
    line-height: 1;
    cursor: pointer;
}

.reset:hover {
    background-color: #333;
    color: #fff;
}

.hidden {
    display: none;
}

.transition-all {
    transition: all .3s ease-in;
}

[contenteditable]:focus {
    outline: 0 solid transparent;
}

/*
Column display
- kuma flips display at tablet size, with padding that's approx 738px
*/
@media screen and (max-width: 738px) {
    .editor-wrapper {
        max-height: 600px;
    }

    .example-choice-list,
    .example-choice-list.live,
    .example-choice-list.large.live,
    .output {
        float: none;
        width: 100%;
        height: auto;
    }

    .example-choice-list {
        padding-right: .7em;
        margin-bottom: 1em;
    }

    .example-choice:before {
        content: none;
    }

    .output {
        position: relative;
        float: none;
        width: 100%;
    }

    .output,
    .output.large {
        height: 220px;
    }
}

@supports (display: flex) {
    .example-choice-list {
        display: flex;
        flex-direction: column;
    }

    .example-choice {
        display: flex;
        align-items: center;
        flex-grow: 1;
    }

    .example-choice pre {
        flex-grow: 1;
    }

    .reset {
        align-self: flex-end;
    }

    .output section {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .output section.flex-column {
        flex-direction: column;
        align-items: initial;
    }

    /* some examples does not work with a flex display on the container */
    .output section.display-block {
        display: block;
    }

    .output section img {
        flex-grow: 0;
    }

    .output section.hidden {
        display: none;
    }
}
