* {
    box-sizing: border-box;
}

body {
    height: 100%;
    padding: 0;
    margin: 1em;
    font-family: sans-serif;
    background-color: #eaeff2;
}

header h4 {
    margin: 0;
    font-weight: normal;
}

pre[class*='language-'] {
    margin: 0;
    padding: .5em;
}

.editor-wrapper {
    background-color: #eaeff2;
    width: 100%;
    max-height: 500px;
    overflow: hidden;
}

.example-choice-list {
    padding-right: 2em;
}

.example-choice-list,
.output {
    height: 230px;
    overflow: hidden;
}

.example-choice-list.large,
.output.large {
    height: 400px;
    overflow: hidden;
}

.example-choice-list,
.example-choice-list.large {
    float: none;
    width: auto;
}

.example-choice-list.live,
.example-choice-list.large.live {
    float: left;
    width: 55%;
}

.output-header {
    margin: 0;
    padding: 0 0 .5em 0;
}

.output {
    position: relative;
    float: right;
    background-color: #fff;
    width: 45%;
    overflow: hidden;
    box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, .2);
    padding: 1em;
}

.output section {
    height: 100%;
    text-align: center;
}

.example-choice {
    position: relative;
    z-index: 1;
    display: block;
    margin: .2em 0;
    width: 100%;
    border: 1px solid transparent;
    font-size: 14px;
    cursor: pointer;
    transition: background-color .2s ease-out, border .2s ease-out;
}

.live .example-choice {
    background-color: #e0e0e0;
}

.example-choice-list .example-choice:first-child {
    margin-top: 0;
}

.example-choice:hover {
    background-color: #f5f5f5;
}

.example-choice:before {
    content: '';
    position: absolute;
    top: 50%;
    right: -10px;
    z-index: 1;
    opacity: 0;
    transition: all .2s ease-out;
    transform: translateY(-50%);
    border-left: 10px solid #9b9b9b;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.example-choice.selected:before {
    opacity: 1;
    right: -1.5em;
}

.example-choice.invalid:before {
    border-color: #f8b83e;
}

.example-choice.selected {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    border-top: 1px solid rgba(0, 0, 0, .3);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    box-shadow: inset 0 2px 2px -2px rgba(0, 0, 0, .2);
    cursor: text;
}

.example-choice > code {
    display: inline-block;
    width: 90%;
}

.reset {
    position: absolute;
    top: 50%;
    right: 1em;
    background-color: #fff;
    color: #4c4c4c;
    padding: 3px 5px 2px;
    border: 2px solid #9b9b9b;
    font-size: 14px;
    line-height: 1;
    cursor: pointer;
    transform: translateY(-50%);
}

.hidden {
    display: none;
}

.transition-all {
    transition: all .3s ease-in;
}

[contenteditable]:focus {
    outline: 0 solid transparent;
}

/*
Column display
- kuma flips display at tablet size, with padding that's approx 738px
*/
@media screen and (max-width: 738px) {
    .editor-wrapper {
        max-height: 600px;
    }

    .example-choice-list,
    .example-choice-list.live,
    .example-choice-list.large.live,
    .output {
        float: none;
        width: 100%;
        height: auto;
    }

    .example-choice-list {
        padding-right: 1.5em;
        margin-bottom: 1em;
    }

    .example-choice.selected:before {
        transform: translateY(-50%) rotate(90deg);
    }

    .output {
        position: relative;
        float: none;
        width: 100%;
    }

    .output,
    .output.large {
        height: 220px;
    }
}

@supports (display: flex) {
    .example-choice-list {
        display: flex;
        flex-direction: column;
    }

    .example-choice {
        display: flex;
        flex-grow: 1;
    }

    .example-choice pre {
        flex-grow: 1;
    }

    .output section {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .output section.flex-column {
        flex-direction: column;
        align-items: initial;
    }

    /* some examples does not work with a flex display on the container */
    .output section.display-block {
        display: block;
    }

    .output section img {
        flex-grow: 0;
    }

    .output section.hidden {
        display: none;
    }
}
