.example-choice-list {
    padding: 0;
}

.editor-wrapper {
    width: 100%;
    overflow: hidden;
}

.example-choice-list.live,
.example-choice-list.large.live {
    float: left;
    padding: 0 2em 0 0;
    width: 60%;
    text-align: right;
    overflow: auto;
}

.example-choice-list.live {
    height: 300px;
    max-height: 300px;
}

.example-choice-list,
.example-choice-list.large {
    float: none;
    width: auto;
}

.output {
    height: 300px;
    overflow: hidden;
}

.output-header {
    margin: 0;
    padding: 0 0 .5em 0;
}

.output {
    position: relative;
    float: right;
    background-color: #fff;
    width: 40%;
    overflow: hidden;
    box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, .2);
    padding: 1em;
}

.output section {
    height: 100%;
    text-align: center;
}

.live .example-choice {
    position: relative;
    z-index: 1;
    display: block;
    margin: .2em 0;
    width: 100%;
    border: 2px solid #d6dee0;
    border-left: 5px solid #d6dee0;
    font-size: 14px;
    cursor: pointer;
    transition: background-color .2s ease-out, border .2s ease-out;
}

.live .example-choice {
    background-color: #fff;
}

.live .example-choice pre {
    padding: 0 10px;
}

.live .example-choice.selected pre {
    padding: 0 40px 0 10px;
}

.live .example-choice code {
    padding: 10px 0;
}

.example-choice-list .example-choice:first-child {
    margin-top: 0;
}

.example-choice:hover {
    border-color: #666;
    border-left-color: #666;
}

.live .example-choice:before {
    content: '';
    position: absolute;
    top: 50%;
    right: -10px;
    z-index: 1;
    opacity: 0;
    transition: all .2s ease-out;
    transform: translateY(-50%);
    border-left: 10px solid #1b76c4;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.example-choice.selected:before {
    opacity: 1;
    right: -1.5em;
}

.example-choice.selected {
    border-color: #1b76c4;
    border-left-color: #1b76c4;
    box-shadow: inset 0 2px 2px -2px rgba(0, 0, 0, .2);
    transition: height .5s;
    cursor: text;
}

.example-choice.invalid:before {
    right: -1.8em;
    background: transparent url('../media/warning.svg') 0 0 no-repeat;
    background-size: 20px;
    border: none;
    width: 20px;
    height: 20px;
}

.example-choice.invalid {
    border-color: #ffb800;
    border-left-color: #ffb800;
}

.example-choice > code {
    display: inline-block;
    width: 90%;
}

.reset {
    float: right;
    background-color: #53caff;
    color: #333;
    margin: 0 0 .5em;
    padding: .7em .9em;
    border: none;
    max-width: 100px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    cursor: pointer;
}

.reset:hover {
    background-color: #333;
    color: #fff;
}

.copy {
    position: absolute;
    top: 0;
    right: 0;
    background: #eee url('../media/clippy.svg') 50% 50% no-repeat;
    background-size: 15px;
    padding: 6px 12px;
    border: 1px solid #d5d5d5;
    border-top: 0;
    border-right: 0;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    cursor: pointer;
}

.transition-all {
    transition: all .3s ease-in;
}

[contenteditable]:focus {
    outline: 0 solid transparent;
}

.example-choice.selected:focus {
    outline: 0 solid transparent;
}

/* styling for small desktop viewports and below */
.small-desktop-and-below .example-choice-list,
.small-desktop-and-below .example-choice-list.live,
.small-desktop-and-below .example-choice-list.large.live,
.small-desktop-and-below .output {
    float: none;
    padding: 0;
    width: 100%;
    height: auto;
}

.small-desktop-and-below .example-choice-list.live {
    max-height: 225px;
    overflow: auto;
}

.small-desktop-and-below .output,
.small-desktop-and-below .output.large {
    position: relative;
    height: 225px;
}

.small-desktop-and-below .example-choice-list {
    padding-right: .7em;
    margin-bottom: 1em;
}

.small-desktop-and-below .example-choice:before {
    content: none;
}

.small-desktop-and-below .live .example-choice {
    min-height: 40px;
}

.small-desktop-and-below .copy {
    display: none;
}

@supports (display: flex) {
    .example-choice-list.live {
        display: flex;
        flex-direction: column;
    }

    .live .example-choice {
        display: flex;
        align-items: center;
        flex-grow: 1;
    }

    .live .example-choice pre {
        flex-grow: 1;
    }

    .reset {
        align-self: flex-end;
    }

    .output section {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .output section.flex-column {
        flex-direction: column;
        align-items: initial;
    }

    /* some examples does not work with a flex display on the container */
    .output section.display-block {
        display: block;
    }

    .output section img {
        flex-grow: 0;
    }

    .output section.hidden {
        display: none;
    }
}
