* {
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: #eaeff2;
    padding: 0;
    margin: 1em;
    font-family: sans-serif;
    background-color: #eaeff2;
}

#editor,
#output {
    font-size: 14px;
}

.CodeMirror {
    border: 1px solid rgba(0, 0, 0, .2);
    border-top: 1px solid rgba(0, 0, 0, .3);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    box-shadow: inset 0 2px 2px -2px rgba(0, 0, 0, .2);
}

#editor {
    position: relative;
    margin-bottom: 1em;
}

#editor > button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 10;
}

#editor > input.hidden {
    display: none;
}

.live {
    background-color: #eaeff2;
    border: 10px solid #eaeff2;
}

.output {
    position: relative;
    display: inline-block;
    background-color: #fff;
    margin: 0;
    border: 0;
    box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, .1);
    width: 92%;
    height: 80px;
    font-family: courier;
    word-break: break-word;
    overflow-y: auto;
    vertical-align: middle;
}

.output:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 40px solid transparent; /* half of height of .output */
    border-left: 20px solid #eaeff2;
    border-right: 0;
}

.output code {
    padding: .8em 1em .8em 35px;
}

.button {
    display: inline-block;
    background-color: #fff;
    color: #4c4c4c;
    margin: 0;
    padding: 3px 5px 2px;
    border: 2px solid #9b9b9b;
    font-size: 14px;
    line-height: 1;
    cursor: pointer;
}

.reset {
    animation: fadein 1s;
}

.run {
    background-color: #29627e;
    border-color: transparent;
    color: #fff;
}

.fade-in {
    animation: fadein .5s;
}

.hidden {
    display: none;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@supports (display: flex) {
    .output-container {
        display: flex;
        align-items: center;
    }

    .run {
        margin-right: 10px;
    }

    .output {
        display: flex;
        flex: 10 150px;
        align-items: center;
    }
}
