* {
  box-sizing: border-box;
}

body {
  background-color: #EAEFF2;
  padding: 0;
  margin: 0;
}

#output {
  width: 100%;
  height: 200px;
  background-color: white;
  padding: 1em 0;
  box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.1);
}

#example-element {
  max-width: 80%;
  max-height: 80%;
  display: block;
  margin: 0 auto 0 auto;
}

#output {
  overflow: hidden;
}

#example-element {
  display: block;
  color: #C13832;
}

.example-choice {
  font-size: 14px;
  transition: background-color .2s ease-out;
  cursor: pointer;
  padding: 0.25em;
  display: inline-block;
  width: 100%;
  position: relative;
}

.example-choice:hover {
  background-color: whitesmoke;
}

.example-choice.selected {
  background-color: white;
  transition: background-color .2s ease-in;
  box-shadow: inset 0px 2px 2px -2px rgba(0,0,0,0.2);
  cursor: text;
}

.example-choice>code {
  width: 90%;
  display: inline-block;
}

.reset {
  display: none;
  position: absolute;
  top: .75em;
  right: 1em;
}

.example-choice.selected>.reset {
  display: unset;
}

.error {
  max-height: 1em;
  position: absolute;
  top: .75em;
  right: 5.5em;
  cursor: pointer;
}

.hidden {
  display: none;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

/*
Disable responsive mode,
as it doesn't work properly
inside an iframe

@media (min-width: 800px) {
  #example-choice-list, #output {
    float: left;
  }
  #example-choice-list {
    width: 70%;
  }
  #output {
    width: 30%;
  }
}
*/
