.editor-container,
.output {
    display: inline-block;
    vertical-align: top;
    height: 350px;
    overflow: hidden;
}

.editor-container {
    display: flex;
}

.output {
    border-left: 0;
}

.CodeMirror {
    height: 300px;
}

.tabs,
.output {
    font-size: .9rem;
    flex-basis: 50%;
}

.output {
    padding: 50px 20px 20px;
    border-left: 0;
    flex-shrink: 2;
}

.output-header {
    margin: 0;
    padding: 0 0 .5em 0;
}

.output-header button {
    float: right;
    background-color: #53caff;
    color: #333;
    margin: 0 0 .5em;
    padding: .7em .9em;
    border: none;
    width: 100px;
    max-width: 150px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    cursor: pointer;
    outline: 0;
}

.output-header button.run {
    background-color: rgb(83, 202, 255);
    margin-right: 10px;
}

.output-header button.reset {
    background-color: rgba(83, 202, 255, .6);
}

.output-header button:hover,
.output-header button:focus {
    background-color: #333;
    color: #fff;
}
