.editor-container,
.output {
    display: inline-block;
    vertical-align: top;
    height: 370px;
    overflow: hidden;
}

.editor-container {
    display: flex;
}

.CodeMirror {
    border: 3px solid #3f87a6;
    border-right: none;
    border-left: 5px solid #3f87a6;
    height: 300px;
}

.tabs,
.output {
    font-size: .9rem;
    flex: none;
}

.tabs {
    width: 60%;
}

.output {
    background-color: #fff;
    margin: 24px 1em 0 0;
    padding: 30px;
    border: 15px solid #eee;
    width: 40%;
    height: 342px;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, .3), inset -5px -5px 10px rgba(0, 0, 0, .2);
    overflow: scroll;
}

.output-label {
    position: absolute;
    background-color: #333;
    color: #83d0f2;
    top: 92px;
    right: 15px;
    margin: 0;
    padding: 3px 10px;
    width: 70px;
    height: 25px;
    font-size: .9rem;
    letter-spacing: .035rem;
}

.output-header {
    margin: 0;
    padding: 0 0 .5em 0;
}

.output-header button {
    float: right;
    background-color: #53caff;
    color: #333;
    margin: 0 0 .5em;
    padding: .7em .9em;
    border: none;
    width: 100px;
    max-width: 150px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    cursor: pointer;
    outline: 0;
}

.output-header button.reset {
    background-color: rgba(83, 202, 255, .6);
}

.output-header button:hover,
.output-header button:focus {
    background-color: #333;
    color: #fff;
}
