.editor-container,
.output {
    display: inline-block;
    vertical-align: top;
    height: 350px;
    overflow: hidden;
}

.editor-container {
    display: flex;
}

.CodeMirror {
    height: 300px;
}

.tabs,
.output {
    font-size: .9rem;
    flex: none;
}

.tabs {
    width: 60%;
}

.output {
    background-color: #fff;
    margin: 44px 1em 0 0;
    padding: 30px;
    border-left: 5px solid #333;
    width: 40%;
    height: 302px;
    box-shadow: inset 1px 1px 5px #cccaca, inset 0 -1px 5px #969595;
}

.output-label {
    position: absolute;
    background-color: #333;
    color: #83d0f2;
    top: 98px;
    right: 0;
    margin: 0;
    padding: 3px 10px;
    width: 70px;
    height: 25px;
    font-size: .9rem;
    letter-spacing: .035rem;
}

.output-header {
    margin: 0;
    padding: 0 0 .5em 0;
}

.output-header button {
    float: right;
    background-color: #53caff;
    color: #333;
    margin: 0 0 .5em;
    padding: .7em .9em;
    border: none;
    width: 100px;
    max-width: 150px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    cursor: pointer;
    outline: 0;
}

.output-header button.reset {
    background-color: rgba(83, 202, 255, .6);
}

.output-header button:hover,
.output-header button:focus {
    background-color: #333;
    color: #fff;
}
