.default-example {
    background-color: #eee;
    border: .75em solid;
    padding: .75em;
    width: auto;
    max-height: 300px;
    display: flex;
}

.default-example > div {
    background-color: rgba(0, 0, 255, .2);
    border: 3px solid blue;
    margin: 10px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

#example-element {
    background-color: rgba(255, 0, 200, .2);
    border: 3px solid rebeccapurple;
}

@media screen and (max-width: 760px) {

    .editor-wrapper {
        display: flex;
        flex-direction: column;
    }

    .example-choice-list.large.live,
    .example-choice-list.live {
        width: auto;
    }

    /* Face the triangle down towards the example output */
    .live .example-choice:before {
        top: 35%;
        transform: rotate(90deg);
    }

    #output {
        height: auto;
        width: auto;
        margin-top: 10px;
    }
}