.default-example {
    max-height: 300px;
    display: flex;
}

.default-example > div {
    background-color: rgba(0, 0, 255, 0.2);
    border: 3px solid blue;
    margin: 10px;
    flex: 1;
}

#example-element {
    background-color: rgba(255, 0, 200, 0.2);
    border: 3px solid rebeccapurple;
}
