#example-element {
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-name: slide;
    animation-play-state: paused;
    animation-timing-function: ease-in;
    background-color: #1766aa;
    border-radius: 50%;
    border: 5px solid #333;
    color: white;
    height: 150px;
    margin-left: 0;
    margin: auto;
    width: 150px;
}

#example-element.running {
    animation-play-state: running;
}

#play-pause {
    font-size: 2rem;
}

@-webkit-keyframes slide {
    from {
        background-color: orange;
        color: black;
        margin-left: 0;
    }
    to {
        background-color: orange;
        color: black;
        margin-left: 80%;
    }
}

@keyframes slide {
    from {
        background-color: orange;
        color: black;
        margin-left: 0;
    }
    to {
        background-color: orange;
        color: black;
        margin-left: 80%;
    }
}
