#example-element {
    background-color: #1766aa;
    margin: 20px;
    border: 5px solid #333;
    width: 150px;
    height: 150px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#playstatus {
    font-weight: bold;
}

.animating {
    animation: slide 1s ease-in 1;
}

@-webkit-keyframes slide {
    from {
        background-color: orange;
        margin-left: 0;
    }
    to {
        background-color: orange;
        margin-left: 80%;
    }
}

@keyframes slide {
    from {
        background-color: orange;
        margin-left: 0;
    }
    to {
        background-color: orange;
        margin-left: 80%;
    }
}
