#example-element {
    background-color: #1766aa;
    margin: 20px;
    border: 5px solid #333;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

@-webkit-keyframes slidein {
    from {
        margin-left: -20%;
    }
    to {
        margin-left: 100%;
    }
}

@keyframes slidein {
    from {
        margin-left: -20%;
    }
    to {
        margin-left: 100%;
    }
}
