.example-container {
    background-color: #eee;
    border: .75em solid;
    padding: .75em;
    display: grid;
    width: 220px;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 80px;
    grid-gap: 10px;
}

.example-container > div {
    background-color: rgba(0, 0, 255, 0.2);
    border: 3px solid blue;
}
