#example-element {
    background-color: #eee;
    border: .75em solid;
    padding: .75em;
    display: grid;
    grid-template-columns: 60px 60px;
    grid-auto-rows: 40px;
    grid-gap: 10px;
    height: 180px;
    width: 220px;
}

#example-element > div {
    background-color: rgba(0, 0, 255, 0.2);
    border: 3px solid blue;
}
