{
  "extends": ["stylelint-prettier/recommended"],
  "rules": {
    "block-no-empty": true,
    "color-named": null,
    "color-no-invalid-hex": true,
    "comment-no-empty": true,
    "declaration-block-no-shorthand-property-overrides": true,
    "declaration-block-single-line-max-declarations": 1,
    "declaration-empty-line-before": [
      "never",
      { "ignore": ["after-comment", "after-declaration"] }
    ],
    "declaration-no-important": true,
    "font-family-name-quotes": "always-where-recommended",
    "font-family-no-duplicate-names": true,
    "function-name-case": "lower",
    "function-url-no-scheme-relative": true,
    "function-url-quotes": "always",
    "keyframe-declaration-no-important": true,
    "length-zero-no-unit": true,
    "max-nesting-depth": 5,
    "media-feature-name-no-unknown": [
      true,
      { "ignoreMediaFeatureNames": ["min--moz-device-pixel-ratio"] }
    ],
    "no-invalid-double-slash-comments": true,
    "no-unknown-animations": true,
    "property-no-unknown": true,
    "rule-empty-line-before": [
      "always",
      { "ignore": ["after-comment", "inside-block"] }
    ],
    "selector-pseudo-class-no-unknown": true,
    "selector-pseudo-element-no-unknown": true,
    "selector-type-case": "lower",
    "selector-type-no-unknown": true,
    "string-no-newline": true,
    "unit-no-unknown": true,
    "value-keyword-case": "lower"
  }
}
