aside {
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

aside > p {
    margin: .5rem;
}

@font-face {
    font-family: "Fira Sans";
    src: local("FiraSans-Regular"),
    url("/media/fonts/FiraSans-Regular.woff2") format("woff2");
}

p {
    font-family: "Fira Sans", sans-serif;
}
