#example-element {
    background-color: #eee;
    border: .75em solid;
    padding: .75em;
    width: 80%;
    max-height: 300px;
    display: flex;
}

#example-element > div {
    background-color: rgba(0, 0, 255, 0.2);
    border: 3px solid blue;
    margin: 10px;
    flex: 1;
}
