legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

.output {
    font: 1rem 'Fira Sans', sans-serif;
}

label {
    display: block;
    font-size: .8rem;
}

label,
input[type='image'] {
    margin-top: 1rem;
}

input[type='image'] {
    width: 80px;
}
