@font-face {
    font-family: 'Fira Sans';
    src: local('FiraSans-Regular'),
    url('/media/fonts/FiraSans-Regular.woff2') format('woff2');
}

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

.output {
    font: 1rem 'Fira Sans', sans-serif;
}

label {
    margin-top: 1rem;
    display: block;
    font-size: .8rem;
}

input + span {
    padding-right: 30px;
}

input:invalid + span:after {
    position: absolute;
    content: '✖';
    color: red;
    padding-left: 5px;
}

input:valid + span:after {
    position: absolute;
    content: '✓';
    color: green;
    padding-left: 5px;
}
