legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

.output {
    font: 1rem 'Fira Sans', sans-serif;
}

label {
    margin-top: 1rem;
    display: block;
    font-size: .8rem;
}

input:invalid + span:after {
    position: absolute;
    content: '✖';
    color: #f00;
    padding-left: 5px;
}

input:valid + span:after {
    position: absolute;
    content: '✓';
    color: #26b72b;
    padding-left: 5px;
}
