legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

.output {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: 1rem 0;
    width: 60%;
}

label {
    display: inline-block;
    font-size: .8rem;
    width: 20%;
}
