.output {
    font: 1rem 'Fira Sans', sans-serif;
}

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

.control {
    margin: 1rem 0;
}

label {
    display: inline-block;
    font-size: .8rem;
    width: 20%;
}

.hours {
    margin-top: .6rem;
    font-size: .7em;
}
