.example-container {
    background-image: url(/media/examples/balloon.jpg);
    background-size: cover;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#example-element {
    font-weight: bold;
    flex: 1;
    text-align: center;
    padding: 20px 10px;
    background-color: rgba(255, 255, 255, .2);
}