.output {
    background-color: #f9f9fa;
}

h1 {
    font-size: 1.8em;
    margin-bottom: 0.5em;
}

footer {
    display: flex;
    padding: 1em .5em;
    margin: 1.5em 0 0;
    font-size: 0.9em;
    font-family: sans-serif;
    background-color: #45a1ff;
    color: #fff;
}

footer p {
    flex: 1;
    margin: 0;
}

footer ul {
    flex: 1;
    display: flex;
    justify-content: space-around;
    margin: 0;
    list-style: none;
}

footer a {
    text-decoration: none;
    padding: 2px;
}

footer a:link,
footer a:visited{
    color: #fff;
}

