h1 {
    color: #b32525;
    font-size: 58px;
}

h2 {
    color: #66c5dd;
    font-size: 40px;
}

h3 {
    color: #9f79d1;
    font-size: 36px;
}

h4 {
    color: #dc9bdd;
    font-size: 30px;
}

h5 {
    color: #66c5dd;
    font-size: 24px;
}

h6 {
    color: #9f79d1;
    font-size: 16px;
}
