@layer module, state;

@layer state {
    .zombiewarning {
        background-color: brown;
    }
    p {
        text-align: right;
    }
}

@layer module {
    .zombiewarning {
        text-align: left;
        background-color: yellow;
        color: white;
    }
}
