.flex-container > * {
    padding: 0.3em;
    list-style-type: none;
    text-shadow: 0px 0px 2px red;
    float: left;
}

@supports (display: flex) {
    .flex-container > * {
        text-shadow: 0px 0px 2px blue;
        float: none;
    }

    .flex-container {
        display: flex;
    }
}
