.example-container {
    background-image: repeating-linear-gradient(180deg, #ccc, #ccc 20px, #dbdbdb 20px, #dbdbdb 40px);
    border: .75em solid;
    padding: .75em;
    text-align: left;
    width: 80%;
    line-height: normal;
    font-size: 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 2fr;
}

.example-container h2, p {
    margin: 0;
}
  
.example-container h2 {
    font-size: 33px;
}
