table {
    font-size: 1.2rem;
    text-align: left;
}

th,
td {
    padding: .2rem 1rem;
}

caption {
    background: #fc3;
    padding: .5rem 1rem;
}

tr {
    background: #eee;
}

tr:nth-child(even) {
    background: #ccc;
}
