#example-element {
    background-color: #eee;
    border: .75em solid;
    padding: .75em;
    display: grid;
    grid-gap: 10px;
    width: 250px;
}

#example-element > div {
    background-color: rgba(0, 0, 255, .2);
    border: 3px solid blue;
    text-align: left;
}
