#example-element {
    background-color: #eee;
    border: .75em solid;
    padding: .75em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, minmax(40px, auto));
    grid-gap: 10px;
    width: 220px;
}

#example-element > div {
    background-color: rgba(0, 0, 255, 0.2);
    border: 3px solid blue;
}

#example-element > div:nth-child(1) {
    grid-column: auto / span 2;
}

#example-element > div:nth-child(2) {
    grid-column: auto / span 2;
}
