.example-choice-list {
  height: 500px;
  width: 250px;
}

.cursor {
  display: flex;
  background-color:#1766aa;
  color: white;
  height: 100px;
  width: 200px;
  justify-content: center;
  align-items: center;
  font-size: 14pt;
}
