.output section {
    align-items: flex-start;
}

#example-element {
    width: 250px;
    height: 250px;
    padding: 20px;
    background: rebeccapurple linear-gradient(rgb(255, 0, 191), rebeccapurple);
    mask-image: url('/media/examples/mdn.svg');
}
