.output {
    font: 1rem 'Fira Sans', sans-serif;
}

#exciting {
    background: linear-gradient(to bottom, #ffe8d4, #f69d3c);
    border: 1px solid #696969;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 1px black;
}

#exciting:before {
    content: "ℹ️";
    margin-right: 5px;
}
