.output {
    font: .9rem 'Fira Sans', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}

div,
label {
    letter-spacing: .5px;
}

div:focus {
    font-weight: bold;
}

.instructions {
    font-style: italic;
}
