#default-example {
  flex-direction: column;
}

#example-element {
  width: 15em;
  margin-bottom: auto;
  border: medium dotted;
  padding: 0.2em;
  text-align: left;
  overflow: auto;
  word-break: break-all;
}

.heightNormal {
  height: 12em;
}

.heightShort {
  height: 8em;
}
