#default-example {
    text-align: left;
    counter-set: chapter-count;
}

#example-element {
    background-color: lightblue;
}

h2 {
    counter-increment: chapter-count;
    font-size: 1em;
}

h2::before {
    content: "Chapter " counter(chapter-count) ": ";
}
