.default-example {
    font-size: 1.3rem;
}

#example-element {
    width: 100%;
}

.output section {
    text-align: left;
}

.output section li {
    background: #f1f8ff;
}

.output .note {
    max-width: 50%;
    margin: 1em auto auto 1em;
    font-size: .8rem;
}

@counter-style space-counter {
    system: cyclic;
    symbols: "\1F680" "\1F6F8" "\1F6F0" "\1F52D";
    suffix: " "
}
