@font-face {
  src: url('/media/fonts/LeagueMono-VF.ttf') format('truetype');
  font-family: League;
  font-style: normal;
  font-weight: 400;
  font-stretch: 50% 200%; /* Required by Chrome - allow 50% to 200% */
}

#output section {
  font-size: 1.2em;
  font-family: League, sans-serif;
}
