@font-face {
    font-family: 'Fira Sans';
    src: local('FiraSans-Light'),
         url('../../../media/fonts/FiraSans-Light.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: local('FiraSans-Regular'),
         url('../../../media/fonts/FiraSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: local('FiraSans-Italic'),
         url('../../../media/fonts/FiraSans-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: local('FiraSans-SemiBoldItalic'),
         url('../../../media/fonts/FiraSans-SemiBoldItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: oblique;
}

@font-face {
    font-family: 'Fira Sans';
    src: local('FiraSans-SemiBold'),
         url('../../../media/fonts/FiraSans-SemiBold.woff2') format('woff2');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: local('FiraSans-Bold'),
         url('../../../media/fonts/FiraSans-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: local('FiraSans-ExtraBold'),
         url('../../../media/fonts/FiraSans-ExtraBold.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}
