@font-face {
    font-family: 'Fira Sans';
    src: local('FiraSans-Regular'),
         url('/media/fonts/FiraSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#output section {
    flex-direction: column;
}

.unadjusted {
    font-family: serif;
    font-size: 20px;
}

.unadjusted code {
    font-size-adjust: .45;
}

#example-element {
    font-family: 'Fira Sans', sans-serif;
}
