@font-face {
  font-family: 'Fira Sans';
  src:
    local('FiraSans-Regular'),
    url('/media/fonts/FiraSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src:
    local('FiraSans-Italic'),
    url('/media/fonts/FiraSans-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

#output section {
  margin-top: 10px;
  font-size: 1.1em;
}
