.CodeMirror-linenumber {
    color: #333;
}

.cm-s-default .cm-comment {
    color: #6b7884;
}

.cm-s-default .cm-keyword {
    color: #1954b8;
}

.cm-s-default .cm-def {
    color: #333;
}

.cm-s-default .cm-string {
    color: #080;
}

.cm-s-default .cm-string2 {
    color: #c95200;
}

.cm-s-default .cm-property {
    color: #ac222c;
}
