* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
}

header h4:before {
    display: inline-block;
    content: '';
    background: transparent url('../../media/dino.svg') 0 0 no-repeat;
    margin-right: .6em;
    width: 45px;
    height: 45px;
    vertical-align: middle;
}

header h4 {
    display: inline-block;
    margin: 0 0 .3em .5em;
    font-size: 1.4rem;
    font-weight: bold;
}

.user-message {
    position: absolute;
    top: 30px;
    left: 50%;
    background-color: #333;
    color: #fff;
    padding: 1em;
    border-radius: 4px;
    opacity: 1;
    transition: opacity .5s,
                top .5s;
}

.fade-in {
    animation: fadein .5s;
}

.fade-out {
    animation: fadeout .5s;
}

.flyout {
    top: -50px;
}

.hide {
    opacity: 0;
}

.hidden {
    display: none;
}

/* Hide visually, but not to screen readers */
.visually-hidden {
    position: absolute !important; /* stylelint-disable-line */
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    padding: 0;
    border: 0;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes grow-field {
    from {
        flex-basis: 40px;
    }
    to {
        flex-basis: 60px;
    }
}
