* {
    box-sizing: border-box;
}

body {
    color: #333;
    margin: 0;
    padding: 0;
    height: 100%;
    font: 16px/1.5 sans-serif;
}

header h4:before {
    display: inline-block;
    content: '';
    background: transparent url('../../media/dino.svg') 0 0 no-repeat;
    margin-right: .6em;
    width: 45px;
    height: 45px;
    vertical-align: middle;
}

header h4 {
    display: inline-block;
    margin: 0;
    font-size: .9rem;
    font-weight: bold;
}

.user-message {
    display: none;
    position: absolute;
    top: 30px;
    left: 50%;
    background-color: #333;
    color: #fff;
    padding: .5em;
    border-radius: 4px;
    font-size: 14px;
    opacity: 1;
    transition: opacity .5s;
    z-index: 4;
}

.fade-in {
    animation: fadein .5s;
}

.fade-out {
    animation: fadeout .5s;
}

.hide {
    opacity: 0;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

/* Hide visually, but not to screen readers */
.visually-hidden {
    position: absolute !important; /* stylelint-disable-line */
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    padding: 0;
    border: 0;
}

/* mobile ends */
@media screen and (min-width: 47.9375em) {
    header h4 {
        font-size: 1.1rem;
    }
}

/* tablet ends */
@media screen and (min-width: 63.9375em) {
    header h4 {
        font-size: 1.4rem;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
