/* Prism theme overrides */
pre[class*='language-'] {
    background-image: none;
    margin: 0;
    border: 0;
    box-shadow: none;
    overflow: auto;
}

pre[class*='language-'] > code {
    background: none;
    border: none;
    box-shadow: none;
}

pre[class*='language-']:before,
pre[class*='language-']:after {
    width: 0;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
    background-color: transparent;
}

code[class*='language-'] {
    max-height: 240px;
    overflow: auto;
}

.line-numbers .line-numbers-rows {
    background-color: #f5f9fa;
    border-right: 0;
}

.line-numbers-rows > span:before {
    color: #333;
}

/* overrides for increased a11y */
.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #58636d;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.function,
.token.builtin,
.token.inserted {
    color: #2545a7;
}
