button {
    float: right;
    background-color: #53caff;
    color: #333;
    margin: 0 0 .5em;
    padding: .7em .9em;
    border: none;
    max-width: 100px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    cursor: pointer;
    outline: 0;
}

button.run {
    background-color: rgb(83, 202, 255);
}

button.reset {
    background-color: rgba(83, 202, 255, .6);
}

button:hover,
button:focus {
    background-color: #333;
    color: #fff;
}
