#example-element {
    display: flex;
    background-color: #1766aa;
    color: white;
    height: 180px;
    width: 360px;
    justify-content: center;
    align-items: center;
    font-size: 14pt;
    padding: 5px;
}
