#example-element {
    background-color: #E4F0F5;
    color: #000;
    padding: 1rem;
    border-radius: .5rem;
    font: 1em monospace;
    width: 100%;
    transition: margin-right 2s;
}

#default-example:hover>#example-element {
    background-color: #990099;
    color: #FFF;
    margin-right: 40%;
;
