* {
    box-sizing: border-box;
}

#example-element {
    top: 25px;
    left: 25px;
    width: 200px;
    height: 150px;
    position: absolute;
    font-family: monospace;
    background-color: #fcfbe5;
    border: solid 5px #e3e0a1;
    z-index: auto;
}

.container {
    display: inline-block;
    width: 250px;
    position: relative;
}

.block {
    width: 150px;
    height: 75px;
    position: absolute;
    font-family: monospace;
    background-color: #E5E8FC;
    border: solid 5px #112382;
}

.position1 {
    top: 0;
    left: 0;
    z-index: 2;
}

.position2 {
    top: 50px;
    left: 50px;
    z-index: 4;

}

.position3 {
    top: 100px;
    left: 100px;
    z-index: 6;
}

.text-top {
    padding: 0.5em 0 5em .5em;
}
