a[href^="http"]::before {
  background: url(/media/examples/external-link-alt-solid.svg) no-repeat;
  content: '';
  display: inline-block;
  margin-right: 3px;
  opacity: .6;
  width: .9em;
  height: .8em;
}
