#example-element {
    background-color: #edecec;
    color: #000;
    margin: 40px auto 0;
    padding: 25px 0;
    border-width: 5px;
    border-style: solid;
    width: 80%;
    height: 20%;
    text-align: center;
}
