
#example-element-container {
  position: relative;
  overflow: scroll;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  transform: rotate(0);
}

#example-element {
 background-color: yellow;
 border: 3px solid red;
}

#example-element-original {
 position: absolute;
 top: 0;
 left: calc(50% - 50px);
 background-color: transparent;
 border: 3px dotted red;
}

.box {
  display: inline-block;
  height: 80px;
  width: 80px;
  margin: 0 10px;
  background-color: rgba(0, 0, 255, 0.2);
  border: 3px solid blue;
}
