
#example-element-container {
    text-align: left;
    position: relative;
    overflow: scroll;
    height: 100%;
    width: 100%;
}

.box {
    display: inline-block;
    height: 80px;
    width: 80px;
    margin: 0 10px;
    background-color: rgba(0, 0, 255, 0.2);
    border: 3px solid blue;
}

#example-element {
    background-color: yellow;
    border: 3px solid red;
}

#example-element-placeholder {
    position: absolute;
    top: 0;
    left: 100px;
    background-color: transparent;
    border: 3px dotted red;
}

#example-element-container p:first-of-type {
  margin-top: 80px;
}
