#example-element-container {
  width: 70%;
}

#example-element {
  line-height: 50px;
  background-color: #E5E8FC;
  overflow: hidden;
  white-space: nowrap;
  font-family: sans-serif;
  padding: 0 0.5em;
}
