.multicol-element {
    width: 100%;
    text-align: left;
    column-count: 3;
}

.multicol-element p {
    margin: 0;
}

#example-element {
    background-color: rebeccapurple;
    padding: 10px;
    color: #fff;
}
