.example-container {
    text-align: left;
    padding: 20px;
}

#example-element {
    float: left;
    margin: 20px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: rebeccapurple;
    shape-outside: circle(50%);
}
