#example-element {
    width: 250px;
    height: 250px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background-color: #5b6dcd;
    color: white;
    padding: 10px;
}
