figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    margin: 0;
    padding: 5px;
    width: 19em;
}

img {
    width: 100%;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}
