figure {
    border: thin #C0C0C0 solid;
    display: flex;
    flex-flow: column;
    margin: 0;
    padding: 5px;
}

figcaption {
    background: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}
