header {
    height: 3.75rem;
  	font: bold 2.5rem 'Arial', sans-serif;
  	border-bottom: 1px solid #000;
}

header > .logo {
    height: 3.5rem;
  	padding: 0.25rem 0.75rem 0.25rem 0;
  	float: left;
}

main {
  	margin-top: 0.2em;
  	padding: 0 1em;
    border: 1px solid #000;
    box-shadow: 0 4px 3px #777;
}
