.example-container {
    background-color: #eee;
    border: .75em solid;
    padding: .75em;
    text-align: left;
}

.floated-left {
    border: solid 10px #FFC129;
    background-color: rgba(255, 244, 219, 0.6);
    padding: 1em;
    float: left;
}

.floated-right {
    border: solid 10px #FFC129;
    background-color: rgba(255, 244, 219, 0.6);
    padding: 1em;
    float: right;
    height: 150px;
}
