#example-element {
    border: 1px solid #c5c5c5;
    padding: .75em;
    text-align: left;
    width: 80%;
    line-height: normal;
}

.floating {
    border: solid 10px #ffc129;
    background-color: rgba(255, 244, 219, .6);
    padding: 1em;
    width: 40%;
    height: 150px;
    margin-right: 10px;
    float: left;
}
