#default-example {
    text-align: left;
    padding: 10px;
    font-size: 16px;
}

.wrapper {
    width: 60%;
}

.card {
    text-align: left;
    border: 3px dotted;
    padding: 10px;
    margin: 10px;
    width: 60%;
    min-height: 60px;
}

.fixed {
    position: fixed;
    border: 3px dotted;
    top: 100px;
    right: 0px;
    padding: 10px;
    height: 100px;
    margin: 10px;
}
