.example-container {
    width: 100%;
    height: 100%;
}

#example-element {
    border: 1px solid #c5c5c5;
}

.child {
    display: inline-block;
    padding: .5em 1em;
    background-color: rgba(0, 0, 255, .2);
    border: 3px solid #00f;
}
