.example-container {
    background-color: #eee;
    border: .75em solid;
    padding: .75em;
    text-align: left;
    width: 80%;
    line-height: normal;
}

#example-element {
    border: solid 10px #ffc129;
    background-color: rgba(255, 244, 219, .6);
    padding: 1em;
    width: 40%;
}
