#container {
    width: 300px;
    height: 200px;
}

.row {
    height: 33%;
    border: solid #5B6DCD 10px;
    background-color: rgba(229, 232, 252, 0.6);
}

#example-element {
    border: solid 10px #FFC129;
    background-color: rgba(255, 244, 219, 0.6);
}
