name: 'Label idle issues'

on:
  schedule:
    - cron: '0 10 * * 1'

jobs:
  mark-as-idle:
    uses: mdn/workflows/.github/workflows/idle.yml@main
    with:
      target-repo: 'mdn/interactive-examples'
