name: Stage Deployment

on:
  push:
    branches:
      - main

  workflow_dispatch:
    inputs:
      notes:
        description: 'Notes'
        required: false
        default: ''

  workflow_call:
    secrets:
      GCP_PROJECT_NAME:
        required: true
      WIP_PROJECT_ID:
        required: true

jobs:
  build:
    environment: stage
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    if: github.triggering_actor != 'dependabot[bot]' && github.repository == 'mdn/interactive-examples'

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js environment
        uses: actions/setup-node@v5
        with:
          node-version-file: '.nvmrc'

      - name: Install all npm packages
        run: npm ci

      - name: Build all
        run: npm run build

      - name: Authenticate with GCP
        uses: google-github-actions/auth@v2
        with:
          token_format: access_token
          service_account: deploy-stage-interactive-examp@${{ secrets.GCP_PROJECT_NAME }}.iam.gserviceaccount.com
          workload_identity_provider: projects/${{ secrets.WIP_PROJECT_ID }}/locations/global/workloadIdentityPools/github-actions/providers/github-actions

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v2

      - name: Deploy pages to GCP
        run: |-
          gsutil -m rsync -d -r docs/ gs://interactive-examples-stage-mdn/
